@{
    int i = 1;
    IList<NewsEngine2A.Models.News.Article> commentedArticles = ViewBag.ArticlesWithMostComments;
}
@using System.Collections
@using NewsEngine2A.Models.News
@model List<NewsEngine2A.Models.News.Article>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>Vizew - Blog &amp; Magazine HTML Template</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    
    <!-- ##### Hero Area Start ##### -->
    <section class="hero--area section-padding-80">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-12 col-md-7 col-lg-8">
                    <div class="tab-content">
                        @{
                            i = 1;
                            string firstdiv = "tab-pane fade show active";
                        }
                        @foreach (var article in Model)
                        {
                            if (i > 1)
                            {
                                firstdiv = "tab-pane fade";
                            }
                            <div class="@firstdiv" id="post-@i" role="tabpanel" aria-labelledby="post-@i-tab">
                                <!-- Single Feature Post -->
                                <div class="single-feature-post video-post bg-img" style="background-image: url(../../Content/img/bg-img/7.jpg); cursor: pointer"  onclick="goToPage('@Url.Action("SinglePost", "Articles", routeValues: new { articleId = @article.Id})')">
                                    <!-- Play Button -->
                                    @*<a href="video-post.html" class="btn play-btn"><i class="fa fa-play" aria-hidden="true"></i></a>*@

                                    <!-- Post Content -->
                                    <div class="post-content">
                                        <a href="@Url.Action("CategoryGrid", "Articles", new {categoryName = @article.NewsCategory.Name})" class="post-cata">@article.NewsCategory.Name</a>
                                        <a href="@Url.Action("SinglePost", "Articles", routeValues: new { articleId = @article.Id})" class="post-title">@article.Title</a>
                                        <div class="post-meta d-flex">
                                            <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 25</a>
                                            <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 25</a>
                                            <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 25</a>
                                        </div>
                                    </div>

                                    <!-- Video Duration -->

                                </div>
                            </div>

                            i++;
                        }

                    </div>
                </div>

                <div class="col-12 col-md-5 col-lg-4">
                    <ul class="nav vizew-nav-tab" role="tablist">
                        
                        @{
                            i = 1;
                            string firstli = "nav-link active";
                        }
                            @foreach(var article in Model)
                            {
                                if (i > 1)
                                {
                                    firstli = "nav-link";
                                }
                                <li class="nav-item">
                                   
                                    <a class="@firstli" id="post-@i-tab" data-toggle="pill" href="#post-@i" role="tab" aria-controls="post-@i" aria-selected="true">
                                        <!-- Single Blog Post -->
                                        <div class="single-blog-post style-2 d-flex align-items-center">
                                                <div class="post-thumbnail">
                                                    <img src="img/bg-img/3.jpg" alt="">
                                                </div>
                                                <div class="post-content">
                                                    <h6 class="post-title">@article.Title</h6>
                                                    <div class="post-meta d-flex justify-content-between">
                                                        <span><i class="fa fa-comments-o" aria-hidden="true"></i> 25</span>
                                                        <span><i class="fa fa-eye" aria-hidden="true"></i> 11</span>
                                                        <span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 19</span>
                                                    </div>
                                                </div>
                                        </div>
                                    </a>
                                    
                                </li>
                                i++;
                            }
                        
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Hero Area End ##### -->
    <!-- ##### Trending Posts Area Start ##### -->
    <section class="trending-posts-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading -->
                    <div class="section-heading">
                        <h4>Most Discussed News</h4>
                        <div class="line"></div>
                    </div>
                </div>
            </div>
            

            <div class="row">
                
                @foreach (var art in commentedArticles)
                {
                    <!-- Single Blog Post -->
                    <div class="col-12 col-md-4">
                        <div class="single-post-area mb-80">
                        <!-- Post Thumbnail -->
                        <a href="@Url.Action("SinglePost", "Articles", routeValues: new { articleId = @art.Id})">
                            <div class="post-thumbnail">
                                <img src="../../Content/img/bg-img/11.jpg" alt="">
                            </div>
                        </a>
                                <!-- Post Content -->
                                <div class="post-content">
                                    <a href="@Url.Action("CategoryGrid", "Articles", new {categoryName = @art.NewsCategory.Name})" class="post-cata cata-sm cata-success">@art.NewsCategory.Name</a>
                                    <a href="@Url.Action("SinglePost", "Articles", routeValues: new { articleId = @art.Id})" class="post-title">@art.Title</a>
                                    <div class="post-meta d-flex">
                                        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 22</a>
                                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 16</a>
                                        <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 15</a>
                                    </div>
                                </div>
                            
                        </div>
                    </div>
                }
                
            </div>

        </div>
    </section>
</body>

</html>