@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <link rel="stylesheet" href="../../Content/style.css">


</head>
<body>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Top Header Area -->
        <div class="top-header-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-md-6">
                        <!-- Breaking News Widget -->
                        <div class="breaking-news-area d-flex align-items-center">
                            <div class="news-title">
                                <p>Breaking News:</p>
                            </div>
                            <div id="breakingNewsTicker" class="ticker">
                                <ul>
                                    @Html.Action("BreakingNews", "NavPartial")
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="top-meta-data d-flex align-items-center justify-content-end">
                            <!-- Top Social Info -->
                            
                            <!-- Top Search Area -->
                            
                               
                            
                            <div class="top-search-area">

                                @using (Html.BeginForm("Index", "Home", FormMethod.Get))
                                {
                                    <form action="index.html" method="post">
                                        <input type="search" name="search" id="topSearch" placeholder="Search...">
                                        <button type="submit" class="btn"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </form>
                                }
                                </div>
                            <!-- Login -->
                            <a href="@Url.Action("Login", "Account")" class="login-btn"><i class="fa fa-user" aria-hidden="true"></i></a>
                            <span><a href="https://localhost:44377/account/logout">@User.Identity.Name</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="vizew-main-menu" id="sticker">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">

                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="vizewNav">

                        <!-- Nav brand -->
                        <a href="index.html" class="nav-brand"><img src="img/core-img/logo.png" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li>@Html.ActionLink("Home", "Index", "Home")</li> <!-- class="active" -->
                                    <li>
                                        <a href="#">Categories</a>
                                        <ul class="dropdown">
                                            @Html.Action("NavCategories", "NavPartial")
                                        </ul>
                                    </li>
                                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
<!-- ##### Header Area End ##### -->
    @RenderBody()   
    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <!-- Footer Widget Area -->
                
                <!-- Footer Widget Area -->
                <div class="col-12 col-sm-6 col-xl-12" align="center">
                    <div class="footer-widget mb-70">
                        <h6 class="widget-title">Our Address</h6>
                        <!-- Contact Address -->
                        <div class="contact-address">
                            <p>Str. Lanternelor, nr. 11 <br>907300, RO</p>
                            <p>Phone: 004-0771-677-***</p>
                            <p>Email: SimiOff.Alex@gmail.com</p>
                        </div>
                        <!-- Footer Social Area -->
                        <div class="footer-social-area">
                            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Copywrite Area -->
        <div class="copywrite-area" >
            <div class="container">
                <div class="row align-items-center">
                    <!-- Copywrite Text -->
                    <div class="col-12 col-sm-12" align="center">
                        <p class="copywrite-text">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                    
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->
    
<!-- jQuery-2.2.4 js -->
<script src="../../Scripts/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="../../Scripts/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="../../Scripts/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="../../Scripts/plugins.js"></script>
<!-- Active js -->
<script src="../../Scripts/active.js"></script>
<script>
    function goToPage(link) {
        window.location.href = link;
        return false;
    }
    function listOrderByFunction(value) {
        window.location.href = "CategoryList?"+value;
        return false;
    }
    function gridOrderByFunction(value) {
        window.location.href = "CategoryGrid?"+value;
        return false;
    }
</script>
</body>
</html>
